          footer
            .container.text-center.animated.animated_scroll.fadeInUp(style='animation-delay: 0.3s')
              h3 Morgan
              .social-links
                a(href='https://www.facebook.com/', target='_blank')
                  i.fa.fa-facebook
                a(href='https://twitter.com/', target='_blank')
                  i.fa.fa-twitter
                a(href='https://plus.google.com/', target='_blank')
                  i.fa.fa-google
                a(href='https://www.dribbble.com/', target='_blank')
                  i.fa.fa-dribbble
              p &copy; 2018 Morgan | All rights reserved.
            script(src='/javascripts/jquery.min.js')
            script(src='/javascripts/spy-scroll.js')
            script(src='/javascripts/jquery.fittext.js')
            script(src='/javascripts/snap.svg-min.js')
            script(src='/javascripts/classie.js')
            script(src='/javascripts/svgLoader.js')
            script(src='/javascripts/bootstrap.min.js')
            script(src='/javascripts/jquery.magnific-popup.min.js')
            script(src='/javascripts/isotope.pkgd.min.js')
            script(src='/javascripts/animateHeader.js')
            script(src='/javascripts/custom.js')