doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
h3 I'm H3 tag
extend index
