link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CMontserrat:300,400,500,600,700,800,900')
link#favicon(rel='icon', type='image/png', href='/images/favicon.ico')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/responsive.css')
link(rel='stylesheet', href='/stylesheets/animate.css')
link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')